.container {
  background-color: #152850;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.buttpn {
  cursor: pointer;
  outline: none;
}
.m-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
